**/target/
**/test-output/
/.git
/.metadata
*/.classpath
*/.project
user.properties
.externalToolBuilders
.settings/
*.log*
*/bin/
.recommenders/
*~
**/.idea/
*.iml
*.ipr
*.iws
/Reports/
mongoexports*
